<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <p id = "print">hello</p>
    <!-- <form action="./hello.py/main" method="post">
        <button type="submit">Forward</button>
    </form> -->
    <!-- <script src="bot.js"></script> -->
    <form action="./handle_data" method="post">
        <input type="text" name="projectFilepath">
        <input type="submit">
    </form>
    <script>
        let a = document.getElementById("print");
        let test = {{name|tojson}};
        console.log(test)
        for(var i = 0; i < test.length; i++){
            a.textContent += test[i];
            console.log(test[i]);
        }
    </script>
</body>
</html>