<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="login">
        <form action="" method="" class="container">
            <input placeholder="Username" type="text" class="items">
            <input placeholder="Password" type="text" class="items">
            <button type = "submit" class="items">LOGIN</button>
            <p><a href="./bot">hello</a></p>
        </form> 
    </div>
</body>
</html>