<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/searchdesign.css">
    <title>Document</title>
</head>
<body>
    <div class= "banner"> 
        <div class = "navbar">
            <img src="../static/hospitalogo.png" class="logo">
            <ul >
                <li ><a href="./bot">Back to Mainpage</a></li>
            </ul>
        </div>
    </div>

    <section class="secondpage" id="faq">
        <section class="hidden">
            <div id="colorchange">
                <h1>Your Results</h1>
                <p>The following results below are the closest available General Practicioner hospitals near you</p>
            </div>
            <div class="row">
                <div class="features">
                    <div>
                        <div>
                            <h3 class="orgname1"> </h3>
                        </div>
                        <div class="address1">
                            <p></p>
                        </div>
                        <div class="distance1">
                            <p></p>
                        </div>
                        <div>
                            <button>Get details mailed</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3 class="orgname2"> </h3>
                        </div>
                        <div class="address2">
                            <p></p>
                        </div>
                        <div class="distance2">
                            <p></p>
                        </div>
                        <div>
                            <button>Get details mailed</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3 class="orgname3"> </h3>
                        </div>
                        <div class="address3">
                            <p></p>
                        </div>
                        <div class="distance3">
                            <p></p>
                        </div>
                        <div>
                            <button>Get details mailed</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3 class="orgname4"> </h3>
                        </div>
                        <div class="address4">
                            <p></p>
                        </div>
                        <div class="distance4">
                            <p></p>
                        </div>
                        <div>
                            <button>Get details mailed</button>
                        </div>
                    </div>
        </div>
        </section>
    </section>q
    <p id="done"></p>
    <script>
        let array = {{project|tojson}};
        console.log(array)
        // let i =1;
        // let a = `.orgname${i}`;
        // let org = document.querySelector(a);
        // org.textContent += array[i].orgname;
        // org.textContent += array[0].orgname;
        for(let i = 1; i < 5; i++){
            let a = `.orgname${i}`;
            let b = `.address${i}`;
            let c = `.distance${i}`;
            let org = document.querySelector(a);
            let add = document.querySelector(b);
            let dis = document.querySelector(c);
            org.textContent += array[i].orgname;
            add.textContent += array[i].address;
            dis.textContent += array[i].distance;
        }

        // obj.function1 = function(){
    </script>
</body>
</html>