<html lang="en">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/webdesign.css">
    <script defer src="../static/app.js"></script>
    <script src="https://kit.fontawesome.com/e21ea0cfb7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="hidden">
        <div class= "banner"> 
            <div class = "navbar">
                <img src="../static/hospitalogo.png" class="logo">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#search">Search</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#cont">Contact</a></li>
                </ul>
            </div>

            <div class="content" id="home">
                <h1> HELPING YOU MEDICALLY </h1>
                <p> GET NOTIFIED ON YOUR NEAREST GP AVAILABILITY, <br> USE OUR SEARCHBOT TO FIND THE NEAREST AVAILABLE MEDICAL SERVICE TO YOU</p>
                <div>
                    <button id="directbutton" type="button"><span></span>Fire</button>
                    <button id ="directbutton" type="button"><span></span>Ice</button>
                </div>
            </div>
        </div>
    </div>
   
    <section class="secondpage" id="faq">
        <section class="hidden">
            <h1>Information</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing brelit. </p>

            <div class="row">
                <div class="features">
                    <h3>Chatbot</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro sed temporibus unde accusamus reiciendis, quidem nemo fuga maiores natus, magnam autem est esse id voluptatibus molestias saepe veniam velit?</p>
                    
                </div>
                <div class="features">
                    <h3>Search System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam beatae sunt labore quam illum similique ipsum amet assumenda voluptate iusto commodi expedita nesciunt reiciendis voluptatibus vero non neque, nulla obcaecati!</p>

                </div>
                <div class="features">
                    <h3>Search System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam beatae sunt labore quam illum similique ipsum amet assumenda voluptate iusto commodi expedita nesciunt reiciendis voluptatibus vero non neque, nulla obcaecati!</p>

                </div>  
        </div>
        </section>
    </section>

    <section class="searchpage" id="search">
    
            <div class="container">
                <form action="./handle_data" method="post">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="enter postcode" name="projectFilepath">
                    <button id="searchbutton" type="submit">Search</button>
                </form>
            </div>
        
    </section>
    <section class="footer" id="cont">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex provident voluptatibus, atque porro neque accusamus, reiciendis in iure <br> ipsam velit maxime obcaecati quos culpa aliquid odio ea, quisquam temporibus.</p>

    </section>




    </div>
    <script>
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry)
                if (entry.isIntersecting){
                    entry.target.classList.add('show');
                } else{
                    entry.target.classList.remove('show');
                }

            });
        });
        const hiddenElements = document.querySelectorAll('.hidden');
        hiddenElements.forEach((el) => observer.observe(el));
    </script>
</body>
</html>