<html lang="en">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/webdesign.css">
    <script defer src="../static/app.js"></script>
    <script src="https://kit.fontawesome.com/e21ea0cfb7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="hidden">
        <div class= "banner"> 
            <div class = "navbar">
                <img src="../static/hospitalogo.png" class="logo">
                <ul >
                    <li ><a href="#home">Home</a></li>
                    <li ><a href="#search">Info</a></li>
                    <li ><a href="#faq">Search</a></li>
                    <li ><a href="#cont">BrunelHack</a></li>
                </ul>
            </div>

            <div class="content" id="home">
                <h1> HELPING YOU MEDICALLY </h1>
                <p> GET NOTIFIED ON YOUR NEAREST GP AVAILABILITY, <br> USE OUR SEARCHBOT TO FIND THE NEAREST AVAILABLE MEDICAL SERVICE TO YOU</p>
                <div>
                    <button id="directbutton" type="button"><span></span>Fire</button>
                    <button id ="directbutton" type="button"><span></span>Ice</button>
                </div>
            </div>
        </div>
    </div>
   
    <section class="secondpage" id="faq">
        <section class="hidden">
            <h1>Features</h1>
            <p>This project and the website aims at presenting web scraped data</p>

            <div class="row">
                <div class="features">
                    <h3>Chatbot</h3>
                    <p>This is a medical search bot that asks for specific information before providing you with the 5 best suitable hospitals near you by distance</p>
                    
                </div>
                <div class="features">
                    <h3>Search System</h3>
                    <p>This is another search feature but this one specifically can be searched through the website itself, your UK postcode is to be searched. The task of this search is to display the 5 nearest General Practioners available near you</p>

                </div>
                <div class="features">
                    <h3>Mail System</h3>
                    <p>A feature that would notify you through email if your nearest bookmarked practioner is available. This is an experimental feature that is supposed to be there in the final project but may not be.</p>

                </div>  
        </div>
        </section>
    </section>

    <section class="searchpage" id="search">
    
            <div class="container">
                <form action="./handle_data" method="post">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="enter postcode" name="projectFilepath">
                    <button id="searchbutton" type="submit">Search</button>
                </form>
            </div>
        
    </section>
    <section class="footer" id="cont">
        <h4>About this Project</h4>
        <p>This was a website worked on as part of the HackBrunel V2 hackathon at Brunel University. The team members for this team are; Siddhant Sood, Suryaansh Maithani & Nilay Dedhia. We are all first year computer science students at Brunel University</p>

    </section>




    </div>
    <script>
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry)
                if (entry.isIntersecting){
                    entry.target.classList.add('show');
                } else{
                    entry.target.classList.remove('show');
                }

            });
        });
        const hiddenElements = document.querySelectorAll('.hidden');
        hiddenElements.forEach((el) => observer.observe(el));
    </script>
</body>
</html>