<html lang="en">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/webdesign.css">
    <script defer src="../static/app.js"></script>
    <script src="https://kit.fontawesome.com/e21ea0cfb7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/chat.css" />
    <script src="../static/response.js" defer></script>
    <script src="../static/app.js" defer></script>
</head>
<body>
    <div class="hidden">
        <div class= "banner"> 
            <div class = "navbar">
                <img src="../static/hospitalogo.png" class="logo">
                <ul >
                    <li ><a href="#home">Home</a></li>
                    <li ><a href="#search">Search</a></li>
                    <li ><a href="#faq">FAQ</a></li>
                    <li ><a href="#cont">Contact</a></li>
                </ul>
            </div>

            <div class="content" id="home">
                <h1> HELPING YOU MEDICALLY </h1>
                <p> GET NOTIFIED ON YOUR NEAREST GP AVAILABILITY, <br> USE OUR SEARCHBOT TO FIND THE NEAREST AVAILABLE MEDICAL SERVICE TO YOU</p>
                <div>
                    <button id="directbutton" type="button"><span></span>Fire</button>
                    <button id ="directbutton" type="button"><span></span>Ice</button>
                </div>
            </div>
        </div>
    </div>
   
    <section class="secondpage" id="faq">
        <section class="hidden">
            <h1>Information</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing brelit. </p>

            <div class="row">
                <div class="features">
                    <h3>Chatbot</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro sed temporibus unde accusamus reiciendis, quidem nemo fuga maiores natus, magnam autem est esse id voluptatibus molestias saepe veniam velit?</p>
                    
                </div>
                <div class="features">
                    <h3>Search System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam beatae sunt labore quam illum similique ipsum amet assumenda voluptate iusto commodi expedita nesciunt reiciendis voluptatibus vero non neque, nulla obcaecati!</p>

                </div>
                <div class="features">
                    <h3>Search System</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam beatae sunt labore quam illum similique ipsum amet assumenda voluptate iusto commodi expedita nesciunt reiciendis voluptatibus vero non neque, nulla obcaecati!</p>

                </div>  
        </div>
        </section>
    </section>

    <section class="searchpage" id="search">
    
            <div class="container">
                <form action="./handle_data" method="post">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="enter postcode" name="projectFilepath">
                    <button id="searchbutton" type="submit">Search</button>
                </form>
            </div>
        
    </section>
    <section class="footer" id="cont">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex provident voluptatibus, atque porro neque accusamus, reiciendis in iure <br> ipsam velit maxime obcaecati quos culpa aliquid odio ea, quisquam temporibus.</p>

    </section>
    <!-- Chatlayout -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <button id="chatBtn" class="chatBtn">
      <span class="material-symbols-outlined">
        comment
        </span>
    </button>
    <!-- <script src="../static/extra.js"></script> -->
    <script src="../static/script.js"></script>
    <div class="container-nilay">
      <div class="chat-header">
        
        <div class="title">Chat</div>
        
      </div>
      <div class="chat-body"></div>
      <div class="chat-input">
        <div class="input-sec">
          <input type="text" id="txtInput" placeholder="Type here" autofocus />
          
        </div>
        <div class="send">
          <span class="material-symbols-outlined">
            send
            </span>
        </div>
      </div>
    </div>
    </div>
    <script>
        let mail = {{email|tojson}};
        console.log(mail)
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry)
                if (entry.isIntersecting){
                    entry.target.classList.add('show');
                } else{
                    entry.target.classList.remove('show');
                }

            });
        });
        const hiddenElements = document.querySelectorAll('.hidden');
        hiddenElements.forEach((el) => observer.observe(el));
    </script>
</body>
</html>