@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(homepagebackground.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    /*width: 85%;*/
    margin: auto;
    padding: 35 px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));*/
}

.logo{
    width:100px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #b48a00;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;

}

.navbar ul li:hover:after{
    width:100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    /*-webkit-text-stroke: 1px #fff;*/
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1500px 0;
    animation: backcolor 5s linear infinite alternate-reverse;
}

@keyframes backcolor {
    100%{
        background-position:0 0;

    }
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    animation: fadeIn 5s;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

@keyframes fadeIn {
    
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#directbutton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #b48a00;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #b48a00;
    height: 100%;
    width: 0;
    border-radius:25px ;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

#directbutton:hover span{
    width: 100%;
}

#directbutton:hover {
    border: none;
}

/*----- second page -----*/

.secondpage {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.secondpage h1{
    font-size: 36px;
    font-weight: 600;
}

.secondpage p{
    color: black ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row  {
    margin-top: 5%;
    
    display: flex;
    justify-content: space-between;
}

.features{
    flex-basis: 31%;
    background: #b48a00;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}

.secondpage h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.features:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}

.container{
    width: 100%;
    height: 100vh;
    background: #060606;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

form button{
    background: #b48a00;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;
    
}

.hidden{
    opacity: 0;
    filter: blur(0);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

@media (prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}

